.projectTitle {
  font-weight: 550;
}

.subTitle {
  font-weight: 400;
  padding-left: 0.5em;
}

.techListTitle {
  font-weight: 300;
  padding-left: 0.5em;
}

/* Large desktop */
@media (min-width: 1200px) {
  .projectTitle {
    font-size: 2vw;
  }

  .subTitle {
    font-size: 1.2vw;
  }

  .techListTitle {
    font-size: 1vw;
  }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  .projectTitle {
    font-size: 2vw;
  }

  .subTitle {
    font-size: 1.2vw;
  }

  .techListTitle {
    font-size: 1vw;
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .projectTitle {
    font-size: 25px;
  }

  .subTitle {
    font-size: 18px;
  }

  .techListTitle {
    font-size: 18px;
  }
  .active {
    padding-bottom: 30px;
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {
  .projectTitle {
    font-size: 25px;
  }

  .subTitle {
    font-size: 18px;
  }

  .techListTitle {
    font-size: 18px;
  }
  .active {
    padding-bottom: 30px;
  }
}

.fontBackwards {
  animation: font-animation-backward 0.5s linear 0s;
  animation-fill-mode: forwards;
  font-family: "Shippori Mincho", serif;
  /* position: absolute; */
  z-index: 2;
}

.fontForwards {
  animation: font-animation-foward 0.5s linear 0s;
  animation-fill-mode: forwards;
  font-family: "Shippori Mincho", serif;
  /* position: absolute; */
  z-index: 2;
}

.static {
  position: absolute;
  background: white;
}

.inactive {
  position: absolute;
  background: white;
  opacity: 0;
  z-index: -1;
}

/* .card:hover {
  z-index: -1;
  filter: sepia(60%);
  filter: opacity(15%);
} */

@keyframes font-animation-foward {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
  }
}

@keyframes font-animation-backward {
  /* 25% {
      right: 25px;
      opacity: 0.25;
    }
    50% {
      right: 100px;
      opacity: 0.5;
    }
    75% {
      right: 125px;
      opacity: 0.75;
    } */
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }

  100% {
    opacity: 0;
  }
}

.detailsButton {
  font-family: "Shippori Mincho", serif;
  text-transform: none;
  font-size: 1em;
}
/* .gif {
  opacity: 0.2;
} */
